
/* ========navbar css===== */


.navbar{
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: #e88183;
}

.navbar-light .navbar-nav .nav-item{
    padding: 20px 26px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.navbar-light .navbar-nav .nav-link::before{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background-color: #fbdd89;
    bottom: -2px;
    left: 0;
    transition: all linear 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover:before{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link.active::before{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fbdd89;
}


.navbar-light .navbar-nav .nav-link.active{
    color: #fbdd89;
}




.navbar-light .navbar-brand {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.navbar-light .navbar-brand:hover {
    color: #fff;
}



/* ========banner css======== */


#banner{
    background-image: url('../images/benner-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 235px 0 230px 0;
    position: relative;
}


#banner::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#e88183, #f0d98a);
    opacity: 0.9;
    top: 0;
    left: 0;
}

.banner_text h3{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    color: #ffffff;
}

.banner_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 150px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 125px;
}


.banner_text h1::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
}

.banner_text a{
    border: 3px solid #ffffff;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}


/* ==========about css======== */


#about{
    margin: 90px 0 110px 0;
}

.about_text h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.about_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    margin-bottom: 70px;
}

.about_text h1::before{
    position: absolute;
    content: '';
    background-color: #f38181;
    width: 60px;
    height: 3px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
}

.about_text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    margin-bottom: 80px;
    padding: 0 115px;
}


.about_img{
    position: relative;
}

.about_overlay{
    position: absolute;
    width: 100%;
    height: 0%;
    background-image: linear-gradient(#e88183, #f0d98a);
    top: 0;
    left: 0;
    opacity: 0.9;
    overflow: hidden;
    transition: all linear 0.3s;
}

.about_img:hover .about_overlay{
    height: 100%;
}

.about_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.about_icon i{
    font-size: 30px;
    color: #ffffff;
}

.about_icon p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 5px;
}



/* =======counter up css======= */

#count{
    background-color: #95e1d3;
    padding: 90px 0;
}


.count_text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
}

.count_text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}


/* =======service===== */

#service{
    padding: 110px 0 100px 0;
}

.service_text h3{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.service_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 125px;
}

.service_text h1::before{
    position: absolute;
    content: '';
    background-color: #f38181;
    width: 60px;
    height: 3px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
}

.service_text_icon h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.service_text_icon p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

/* =======msg css======= */

#msg{
    background-color: #f8f8f8;
    padding: 70px 0;
}

.msg_icon{
    border: 3px solid #95e1d3;
    padding: 40px;
}

.msg_text p{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #999999;
}

.msg_text h6{
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    position: relative;
    margin-left: 70px;
}

.msg_text h6::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 50%;
    left: -70px;
}



/* ======= meet css ====== */

#meet{
    margin: 100px 0;
}

.meet_text h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.meet_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    margin-bottom: 70px;
}

.meet_text h1::before{
    position: absolute;
    content: '';
    background-color: #f38181;
    width: 60px;
    height: 3px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
}

.meet_text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    margin-bottom: 80px;
    padding: 0 115px;
}

.meet_img{
    position: relative;
}

.meet_overlay{
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background-image: linear-gradient(#e88183, #f0d98a);
    top: 0;
    left: 0;
    opacity: 0.9;
    overflow: hidden;
    transition: all linear 0.3s;
}

.meet_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.meet_icon i{
    padding: 9px;
    background-color: #fce38a;
    color: #f38181;
}

.meet_icon i:hover{
    background-color: #f38181;
    color: #ffffff;
}

.meet_img:hover .meet_overlay{
    height: 100%;
}

.meet_item{
    padding: 40px 0 0 0;
}

.meet_item h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.meet_item p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

/* ========== work css ======= */


.work_text h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.work_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    margin-bottom: 70px;
}

.work_text h1::before{
    position: absolute;
    content: '';
    background-color: #f38181;
    width: 60px;
    height: 3px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
}

.work_text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    margin-bottom: 80px;
    padding: 0 115px;
}

.work_item{
    position: relative;
}

.work_overlay{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background-image: linear-gradient(#e88183, #f0d98a);
    top: 0;
    left: 0;
    opacity: 0.9;
    overflow: hidden;
    transition: all linear 0.3s;
}

.work_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #ffffff;
}

.work_icon h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}

.work_icon p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.work_item:hover .work_overlay{
    width: 100%;
}

/* ========= mogo css ======= */

#mogo{
    margin: 100px 0 0 0;
    background-color: #f8f8f8;
    padding: 60px 0 20px 0;
}

.mogo_text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #cccccc;
    margin-bottom: 20px;
}

.mogo_text p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

.mogo_text h6{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}


.mogo_text h6 span{
    font-weight: 600;
}

.mogo_text h5{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-bottom: 25px;
}

.mogo_text h5 a{
    padding: 0 8px;
    color: #95e1d3;
}

.input-group input{
    height: 40px;
}

.input-group span{
    background-color: #95e1d3;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 22px;
}

.input-group input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #ccc;
}

/* ========= blog css ========= */

.blog_img{
    margin-bottom: 30px;
}

.blog_text h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 40px;
}

.blog_item h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 10px;
}

.blog_item p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-top: 0;
}

/* ======== insta css ======= */

.instagram h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 40px;
}

.insta_img{
    padding: 3px;
}

.insta_text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
    margin-top: 20px;
}

.mogo_end{
    margin-top: 35px;
}

.mogo_end h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.mogo_end span{
    color: #e88183;
}


/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */